mat-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    max-width: 800px;
    border: 1px solid lightgrey;
    box-sizing: border-box;
}

.row-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px;
}

.row-start {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 10px;
    margin-top: 20px;
}

mat-form-field{
    width: 100%;
}

.mat-mdc-card-title{
    align-self: center;
    padding: 1rem;
}

mat-card-content {
    margin-left: 20px;
    margin-right: 20px;
}

mat-card-actions {
    display: flex;
    justify-content: center;
    padding: 16px 0 0 0;
}

/* Configuração mat-error */
:host ::ng-deep mat-form-field
    .mat-form-field-subscript-wrapper,
    .mat-form-field-ripple {
        position: initial !important;
        display: table;            
}

:host ::ng-deep mat-form-field.mat-form-field-wrapper {
    padding-bottom: 0;
}

:host ::ng-deep mat-form-field.mat-form-field-underline {
    position: initial !important;
    display: block;
    margin-top: -1px;
}

:host ::ng-deep mat-form-field.mat-form-field-subscript-wrapper {
    min-height: calc(1em + 1px);
}
/* Configuração mat-error */

.card-align-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 2rem;
}

.title-style{
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.25px;
}

.error-message {
    color: #f44336; 
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    background-color: #fbe9e7;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 16px; 
}