<div *ngIf="mostrarModal" class="modal-backdrop" (click)="onFecharModal()">
  <div class="modal-card" (click)="$event.stopPropagation()">
    
    <div class="modal-header">
      <h3>Adicionar imagens - {{ empreendimento.titulo }}</h3>
      <button 
        tuiButton 
        appearance="secondary" 
        size="s" 
        type="button" 
        (click)="onFecharModal()">
        Fechar
      </button>
    </div>

    <div class="modal-content">
      <div class="form-section">
        
        <div class="form-group">
          <h5 class="label-title">
            Banner * <span class="error-message-form" *ngIf="previews.banner.length === 0">[obrigatório]</span>
          </h5>
          <app-image-picker
            [label]="'Selecionar Banner'"
            [multiple]="false"
            [previewImages]="previews.banner"
            (imageSelected)="handleSelection('banner', $event)">
          </app-image-picker>
        </div>

        <div class="form-group">
          <h5 class="label-title">
            Mapa/Localidade * <span class="error-message-form" *ngIf="previews.map.length === 0">[obrigatório]</span>
          </h5>
          <app-image-picker
            [label]="'Selecionar Mapa'"
            [multiple]="false"
            [previewImages]="previews.map"
            (imageSelected)="handleSelection('map', $event)">
          </app-image-picker>
        </div>

        <div class="form-group">
          <h5 class="label-title">Plantas</h5>
          <app-image-picker
            [label]="'Selecionar Plantas'"
            [multiple]="true"
            [enableTitle]="true"
            [enableDescription]="true"
            [previewImages]="previews.plantas"
            [imageTitles]="titles.plantas"
            [imageDescriptions]="descriptions.plantas"
            (imageSelected)="handleSelection('plantas', $event)"
            (titlesChanged)="handleTitlesChange('plantas', $event)"
            (descriptionsChanged)="handleDescriptionsChange('plantas', $event)">
          </app-image-picker>
        </div>

        <div class="form-group no-margin">
          <h5 class="label-title">Galeria</h5>
          <app-image-picker
            [label]="'Selecionar Imagens para Galeria'"
            [multiple]="true"
            [enableDescription]="true"
            [previewImages]="previews.galeria"
            [imageDescriptions]="descriptions.galeria"
            (imageSelected)="handleSelection('galeria', $event)"
            (descriptionsChanged)="handleDescriptionsChange('galeria', $event)">
          </app-image-picker>
        </div>

      </div>
    </div>

    <div class="modal-footer">
      <button
        tuiButton
        type="button"
        appearance="flat"
        (click)="onFecharModal()">
        Cancelar
      </button>
      <button
        tuiButton
        type="button"
        appearance="primary"
        [disabled]="!isFormValid()"
        (click)="onSalvar()">
        Atualizar
      </button>
    </div>

  </div>
</div>