<div class="image-picker-container">
  <button
    type="button"
    tuiButton
    appearance="primary"
    size="m"
    (click)="openFileDialog()"
  >
    {{ label }}
  </button>

  <div class="preview-container" *ngIf="previewImages.length > 0">
    <div class="preview-grid" [class.single]="!multiple" [class.double]="multiple">
      <div class="preview-item" *ngFor="let image of previewImages; let i = index">
        <img [src]="image" [alt]="'Preview ' + (i + 1)" class="preview-image" />
        <button
          type="button"
          tuiButton
          appearance="secondary"
          size="xs"
          (click)="removeImage(i)"
          class="btn-remove"
        >
          ✕
        </button>
        <div *ngIf="enableTitle" class="title-field">
          <input
            type="text"
            placeholder="Título *"
            [(ngModel)]="imageTitles[i]"
            (change)="updateTitle(i, imageTitles[i])"
            class="title-input"
            required
          />
        </div>
        <div *ngIf="enableDescription" class="description-field">
          <input
            type="text"
            placeholder="Descrição (opcional)"
            [(ngModel)]="imageDescriptions[i]"
            (change)="updateDescription(i, imageDescriptions[i])"
            class="description-input"
          />
        </div>
      </div>
    </div>
    <button
      type="button"
      tuiButton
      appearance="secondary"
      size="s"
      (click)="clearImages()"
      class="btn-clear"
    >
      Limpar Tudo
    </button>
  </div>
</div>
