<ng-template
let-observer
[tuiDialogOptions]="{label: 'Filtro Avançado', size: 'm'}"
[(tuiDialog)]="open"
>
    <div class="modal-container">
        <div
            class="card"
            tuiAppearance="floating"
            tuiCardLarge
        >
            <header tuiHeader>
                <h2 tuiTitle>Área</h2>
            </header>
            <section class="modal-content">
                <form [formGroup]="filtrarForm" class="filtrar-form">
                    <tui-textfield  class="filtrar-field">
                        <label tuiLabel>Área Mínima</label>
                        <input
                            placeholder="10 m²"
                            tuiInputNumber
                            [min]="0"
                            formControlName="areaMinima"
                        />
                    </tui-textfield>
                    <tui-textfield  class="price-field">
                        <label tuiLabel>Área Máxima</label>
                        <input
                            placeholder="1000 m²"
                            tuiInputNumber
                            [min]="0"
                            formControlName="areaMaxima"
                        />
                    </tui-textfield>
                </form>
            </section>
        </div>
        <div
            class="card"
            tuiAppearance="floating"
            tuiCardLarge
        >
            <header tuiHeader>
                <h2 tuiTitle>Banheiros</h2>
            </header>
    
            <section>
                <label class="checkbox-options"
                *ngFor="let option of banheirosOptions; let i = index"
                appearance=""
                size="m"
                tuiChip
                >
                {{ option.label }}
                <input
                    appearance="outline-grayscale"
                    tuiChip
                    type="checkbox"
                    [(ngModel)]="option.checked"
                />
            </label>
            </section>
        </div>
        <div
            class="card"
            tuiAppearance="floating"
            tuiCardLarge
        >
            <header tuiHeader>
                <h2 tuiTitle>Vagas</h2>
            </header>
    
            <section>
                <label class="checkbox-options"
                *ngFor="let option of vagasOptions; let i = index"
                appearance=""
                size="m"
                tuiChip
                >
                {{ option.label }}
                <input
                    appearance="outline-grayscale"
                    tuiChip
                    type="checkbox"
                    [(ngModel)]="option.checked"
                />
            </label>
            </section>
        </div>
        <div
            class="card"
            tuiAppearance="floating"
            tuiCardLarge
        >
            <header tuiHeader>
                <h2 tuiTitle>Tipo do Imóvel</h2>
            </header>
            <section class="content-list">
                <tui-scrollbar class="box">
                    <label 
                    class="checkbox-list"
                    *ngFor="let option of tiposOptions; let index = index">
                        <input
                            size="m"
                            tuiCheckbox
                            type="checkbox"
                            [(ngModel)]="option.checked"
                        />
                        {{ option.label }}
                    </label>
                </tui-scrollbar>
            </section>
        </div>
        <div
            class="card"
            tuiAppearance="floating"
            tuiCardLarge
        >
            <header tuiHeader>
                <h2 tuiTitle>Diferenciais</h2>
            </header>
    
            <section class="content-list">
                <tui-scrollbar class="box">
                    <label 
                    class="checkbox-list"
                    *ngFor="let option of diferenciaisOptions; let index = index">
                        <input
                            size="m"
                            tuiCheckbox
                            type="checkbox"
                            [(ngModel)]="option.checked"
                        />
                        {{ option.label }}
                    </label>
                </tui-scrollbar>
            </section>
        </div>

        <div class="modal-actions">
            <button
                tuiButton
                type="button"
                appearance="flat"
                size="m"
                (click)="limparFiltro()"
            >
                Limpar filtro
            </button>
            
            <button
                tuiButton
                type="button"
                appearance="primary"
                size="m"
                (click)="aplicar()"
            >
                Aplicar
            </button>
        </div>
    </div>
</ng-template>