.modal-container {
    margin-top: 12px;
    min-width: 320px;
    max-width: 500px;
    text-align: center;
    padding: 1rem;
}

.modal-actions{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background: #fff;
    gap: 16px; 
}
.checkbox-options {
    margin: 0.2rem;
}