<div class="modal-container">
    <section>
        <label class="checkbox-options"
            *ngFor="let option of statusOptions; let i = index"
            appearance=""
            size="m"
            tuiChip
            >
            {{ option.label }}
            <input
                appearance="outline-grayscale"
                tuiChip
                type="checkbox"
                [(ngModel)]="option.checked"
            />
        </label>
    </section>
    <div class="modal-actions">
        <button
            tuiButton
            type="button"
            appearance="flat"
            size="m"
            (click)="limparFiltro()"
        >
            Limpar filtro
        </button>
        
        <button
            tuiButton
            type="button"
            appearance="primary"
            size="m"
            (click)="aplicar()"
        >
            Aplicar
        </button>
    </div>
</div>