<footer class="footer-container" tuiSurface="elevated">
  <div class="footer-content">
    <!-- Seção Superior do Rodapé -->
    <div class="footer-top">
      <!-- Coluna: Quem somos -->
      <div class="footer-column">
        <h3 class="footer-title"  tuiTitle="s">Quem somos</h3>
        <ul class="footer-list">
          <!-- <li class="footer-item">
            <a tuiLink href="#" class="footer-link">
              <span class="bullet">-</span> Meu Apê na Web
            </a>
          </li> -->
          <li class="footer-item">
            <a tuiLink href="contato" class="footer-link">
              <span class="bullet">-</span> Fale conosco
            </a>
          </li>
        </ul>
      </div>

      <!-- Coluna: Calculadoras -->
      <!-- <div class="footer-column">
        <h3 class="footer-title"  tuiTitle="s">Calculadoras</h3>
        <ul class="footer-list">
          <li class="footer-item">
            <a tuiLink href="#" class="footer-link">
              <span class="bullet">-</span> Qual é o seu poder de compra?
            </a>
          </li>
          <li class="footer-item">
            <a tuiLink href="#" class="footer-link">
              <span class="bullet">-</span> Avalie seu imóvel
            </a>
          </li>
          <li class="footer-item">
            <a tuiLink href="#" class="footer-link">
              <span class="bullet">-</span> Simulador de Financiamento Imobiliário
            </a>
          </li>
          <li class="footer-item">
            <a tuiLink href="#" class="footer-link">
              <span class="bullet">-</span> Calculo do metro quadrado (m²)
            </a>
          </li>
        </ul>
      </div> -->
    </div>

    <!-- Linha Divisória -->
    <div class="footer-divider"></div>

    <!-- Seção Inferior do Rodapé -->
    <div class="footer-bottom">
      <!-- Links de Políticas -->
      <!-- <div class="policy-links">
        <a tuiLink href="#" class="policy-link">Política de Privacidade</a>
        <span class="link-separator">-</span>
        <a tuiLink href="#" class="policy-link">Termos de Serviço</a>
        <span class="link-separator">-</span>
        <a tuiLink href="#" class="policy-link">Termos de Uso</a>
      </div> -->

      <!-- Informações da Empresa -->
      <div class="company-info">
        <p class="copyright" tuiText="body-xs">
          © 2025 - 2026 - Meu apê Tecnologia Ltda. - Todos os direitos reservados
        </p>
        <p class="cnpj-address" tuiText="body-xs">
          CNPJ 00.000.000/0001-10 - Av. dos Autonomistas, 2561, Centro, Osasco - SP
        </p>
      </div>
    </div>
  </div>
</footer>
