
<div class="footer-content">
  <!-- Coluna: Quem somos -->
  <div class="footer-column">
    <h3 class="footer-title" tuiTitle="s">Quem somos</h3>
    <ul class="footer-list">
      <li class="footer-item">
        <a tuiLink href="contato" class="footer-link">
          <span class="bullet">-</span> Fale conosco
        </a>
      </li>
    </ul>
  </div>

  <!-- Linha Divisória -->
  <div class="footer-divider"></div>

  <!-- Seção Inferior do Rodapé -->
  <div class="footer-bottom">

    <!-- Informações da Empresa -->
    <div class="company-info">
      <p class="copyright" tuiText="body-xs">
        © 2025 - 2026 - Meu apê Tecnologia Ltda. - Todos os direitos reservados
      </p>
      <p class="cnpj-address" tuiText="body-xs">
        CNPJ 00.000.000/0001-10 - Av. dos Autonomistas, 2561, Centro, Osasco - SP
      </p>
    </div>
  </div>
</div>
