<div class="navbar-container">
    <div class="flex-container">
            <div class="title-home">Meu apê na web</div>
        <div class="perfil-container">
            <div class="user-button">
                <button
                    appearance="secondary"
                    iconStart="@tui.user"
                    size="s"
                    tuiIconButton
                    type="button"
                    [style.border-radius.%]="100"
                >
                    user
                </button>
            </div>
            <button
                appearance="secondary"
                iconStart="@tui.search"
                size="s"
                tuiIconButton
                type="button"
                [style.border-radius.%]="100"
            >
                search
            </button>
        </div>
    </div>
</div>