<div class="navbar-container">
    <div class="flex-container">
        <div class="navbar-logo">
            Apê na web
        </div>
        <div class="perfil-container">
            	<button
                    appearance="secondary-destructive"
                    iconStart="@tui.heart"
                    size="s"
                    tuiIconButton
                    type="button"
                    [style.border-radius.%]="100"
                >
                    user
                </button>
            <div class="icon-user">
                <lucide-icon [img]="User" class="brain-icon"></lucide-icon>
            </div>
            <div class="icon-search">
                <lucide-icon [img]="Search" class="brain-icon"></lucide-icon>
            </div>
            
        </div>
    </div>
</div>