.perfil-container{
    margin: 16px 0px;
    align-items: center;
    display: flex;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.icon-user {
    cursor: pointer;
    padding: 5px;
}

.icon-search {
    cursor: pointer;
    padding: 5px;
}

.navbar-logo {
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
}

.logo-img {
    height: 40px; 
    width: auto; 
    display: block;
}

.navbar-container{
    border-bottom: 1px solid rgb(177, 177, 177);
}