<div class="navbar-container">
    <div class="flex-container">
        <div class="navbar-logo">
            Apê na web
        </div>
        <div class="perfil-container">
            <div class="icon-user">
                <lucide-icon [img]="User" class="brain-icon" [matMenuTriggerFor]="menu"></lucide-icon>
            </div>
            <div class="icon-search">
                <lucide-icon [img]="Search" class="brain-icon"></lucide-icon>
            </div>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Meu perfil</button>
                <button mat-menu-item>Imóveis salvos</button>
            </mat-menu>
        </div>
    </div>
</div>