/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.sub-title{
    font-size: 24px;
}

.title-section{
    font-size: 24px;
    font-weight: 700;
}

.text{
    font-size: 16px;
}

.text-secundary{
    font-size: 16px;
    color: var(--tui-text-secondary);
}

.text-bold{
    font-size: 16px;
    font-weight: 700;
}

.error-message,
.success-message {
    display: flex;
    align-items: center;
    gap: 0.5rem; 
    font-size: .85rem;
    margin-top: 0.25rem;
    padding: 1rem;
    border-radius: 10px;
}

.error-message {
    color: #ff4444;
    border: 1px #ff4444 solid;
    background-color: rgba(255, 68, 68, 0.05);
}

.success-message {
    color: #108d10;
    border: 1px #108d10 solid;
    background-color: rgba(16, 141, 16, 0.05);
}

.error-message-form {
  display: block;
  font-size: 0.75rem;
  color: #ff4444;
  margin-top: 0.25rem;
  font-weight: 500;
}

/* Estilização do ícone Taiga */
tui-icon {
    width: 1.2rem;
    height: 1.2rem;
    flex-shrink: 0;
}

.error-message-input 
.success-message-input {
    display: flex;
    align-items: center;
    gap: 0.5rem; 
    font-size: .85rem;
    margin-top: 0.25rem;
    padding: 1rem;
    border-radius: 10px;
}

.error-message-input {
    color: #ff4444;
}

.success-message-input {
    color: #108d10;
}

app-root {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh; /* fallback para mobile */
}